html
{
	background-color: darken(white, 10%);
}

body > div.container
{
	padding-top: 5rem;
}

@media #{$medium-and-up} {
	.valign
	{
		transform: translateX(25%);
	}
}

footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.logo
{
	max-width: 100%;
}

.btn-large
{
	margin-bottom: 1rem;
}