html
{
	background-color: darken(white, 10%);
}

@media #{$medium-and-up} {
	.valign
	{
		transform: translateX(25%);
	}

	body > div.container
	{
		padding-top: 5rem;
	}
}

footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.logo
{
	max-width: 100%;
}

.btn-large
{
	width: 100%;
	margin-bottom: 1rem;
}